/* body.light {
  background-color: white !important;
  color: black !important;
}

body.dark {
  background-color: #1D3557 !important;
  color: white !important;
}

.card-light {
  background-color: #1D3557 !important;
  color: black !important;
  border: 1px solid #ccc;
}

.card-dark {
  background-color: #DDF2FD !important;
  color: white !important;
  border: 1px solid #1D3557;
}

.navbar-light {
  background-color: #DDF2FD !important;
}

.navbar-dark {
  background-color: #343a40 !important;
} */