.dropdown-menu-multi-column {
    column-gap: 20px; /* Khoảng cách giữa các cột */
    max-height: 500px; /* Chiều cao tối đa cho menu dropdown */
    column-count: 3; /* Số lượng cột bạn muốn hiển thị */
    overflow-y: auto;
  }
  
  .dropdown-item {
    break-inside: avoid; /* Tránh ngắt mục giữa cột */
  }

  .dropdown-item:hover 
  .dropdown-item:focus {
    background-color: #13ABA2; /* Màu nền khi hover */
  }

  .card:hover .card-image {
    transform: scale(1.1); /* Phóng to ảnh khi hover */
  }
  
  .card-image {
    transition: transform 0.3s; /* Hiệu ứng chuyển động khi hover */
  }

  .card:hover {
    cursor: pointer; /* Thay đổi hình ảnh con trỏ của chuột thành hình chỉ tay khi hover vào thẻ Card */
  }

  .table-link:hover {
    background-color: #13ABA2 !important; /* Thay đổi màu chữ khi hover */
    border-radius: 3px ;
  }
  .text-table-link:hover {
    color: #13ABA2 !important; /* Thay đổi màu chữ khi hover */
  }

  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  
.story-being-read {
  max-width: 600px;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.story-being-read h2 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.story-being-read ul {
  list-style-type: none;
  padding: 0;
}

.story-being-read li {
  margin-bottom: 10px;
  cursor: pointer;
  padding: 10px;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

.story-being-read li:hover {
  background-color: #13ABA2;
}

.story-being-read li span {
  margin-right: 10px;
}

.custom-placeholder ::placeholder {
  color: white !important;
  opacity: 0; /* Override any default opacity */
}
